<%= form_with model: task do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, placeholder: t(".input_title"), class: "form-control" %>
    <%= render "shared/form_error", f:, field: :title %>
  </div>
  <%= f.submit t("common.button.register"), class: "btn btn-primary" %>
<% end %>
