<div class="card mb-3">
  <h5 class="card-header"><%= t('.register') %></h5>
  <div class="card-body">
    <!-- フォームなのでrequest formatはturbo_streamとなる -->
    <%= turbo_frame_tag 'create-form' do %>
      <%= render "form", task: @task %>
    <% end %>
  </div>
</div>

<div class="card">
  <h5 class="card-header"><%= t('.search') %></h5>
  <div class="card-body">
    <div id="search-form">
      <!-- POSTのフォームではないので、明示的にrequest formatをturbo_streamにする必要がある(パーシャル参照) -->
      <%= render "search_form", q: @q %>
    </div>
  </div>
</div>

<!--kaminariがransackの検索パラメータも同時に送信してくれる -->
<!-- フォームでないので、request formatはturbo_streamではないが、"tasks"内を置き換えるのが目的なのでOK -->
<%= turbo_frame_tag "tasks" do %>
  <%= render "tasks", tasks: @tasks %>
<% end %>
